<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add New Product</title>
</head>

<body>
    <h3>Add a New Product</h3>

    <form action="/products" method="POST">
        <label for="productCode">Product Code:</label><br>
        <input type="text" id="productCode" name="productCode" placeholder="code"><br><br>

        <label for="productName">Product Name:</label><br>
        <input type="text" id="productName" name="productName" placeholder="Enter Name" required><br><br>

        <label for="productDescription">Description:</label><br>
        <textarea id="productDescription" name="productDescription" placeholder="Enter Description"></textarea><br><br>

        <label for="productRate">Rate:</label><br>
        <input type="number" id="productRate" name="productRate" placeholder="Enter Rate"><br><br>

        <label for="productImage">Image URL:</label><br>
        <input type="text" id="productImage" name="productImage" placeholder="Enter URL"><br><br>

        <button type="submit">Add Product</button>
    </form>


</body>

</html>